body {
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #f8f8f8;
  margin-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem;
  width: calc(33.333% - 1rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card button {
  align-self: flex-end;
}
.search-input {
  width: 400px; /* Set desired width */
  height: 40px; /* Set desired height */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}